.menu{
    list-style-type:none;
    margin-left: 150px;
  }
  .menu>li{
    display: inline-block;/* met les "li" en ligne */
    margin: 20px;
  }
  .menu>li>a{
    display: inline-block;
    text-decoration: none;
    color:white;
    padding: 10px;
    font-size: 1.5em;
  }
  .menu>li:hover{
      border-bottom: 4px solid #39c;/* Ajoute une bordure de bas de couleur bleue au survol de la souris  */ 
  }
  .services{
      position: relative;/* Pour positionner le sous menu par rapport à son parent ".services" */
  }
  
  .sous-menu{
      list-style-type:none;
      position: absolute;
      left:0;
      width: 100%;
      max-height: 0;/* Pour cacher le sous menu */
      overflow: hidden;/* Pour cacher le contenu du sous menu */
      transition: max-height 0.5s ease;/* transition appliquée sur la propriété max-height */
      padding: 0;
      margin: 5px 0;    
  }
  .services:hover>.sous-menu{
      max-height:150px; /* Pour afficher le menu après le "hover" */
      /* overflow:visible; */
      width: 200px;/*Agrandir le sous menu en largeur*/
  }
  .sous-menu>li{
    text-align: center;  
    background-color:#777;
    line-height: 2em;
    font-size: 1em;
    padding: 5px 0;
    border: 1px #fff solid; 
    
  }
  .sous-menu>li>a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color:#fff;
  }
  .sous-menu>li:hover{
    background:#39c;
  }
  nav.bg-white.border-gray-200.px-2.sm\:px-4.py-2\.5.rounded.dark\:bg-gray-800 {
    margin-top: -31px;
}
#navbar{
  margin-top: -30px;
}